<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links</title>
  </head>
  <body>
    <% for (let i = 0; i< links.length; i++) {%>
    <form method="POST" action="/<%=links[i]._id %>?_method=DELETE">
      <div id="<%=links[i]._id %>">
        <h2><%=links[i].title %></h2>
        <div><%= links[i].description %></div>
        <div><%= links[i].url %></div>
        <button type="submit">Delete</button>
      </div>
    </form>
    <% } %>
  </body>
</html>
